<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ms.medicalsystem.dao.MedicineMapper">
  <resultMap id="BaseResultMap" type="org.ms.medicalsystem.model.Medicine">
    <id column="medicine_id" jdbcType="INTEGER" property="medicineId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="stock_quantity" jdbcType="INTEGER" property="stockQuantity" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
  </resultMap>
  <sql id="Base_Column_List">
    medicine_id, name, type, stock_quantity, price, supplier
  </sql>
  <select id="getAll" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from medicine
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from medicine
    where medicine_id = #{medicineId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from medicine
    where medicine_id = #{medicineId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ms.medicalsystem.model.Medicine">
    insert into medicine (medicine_id, name, type, 
      stock_quantity, price, supplier
      )
    values (#{medicineId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{stockQuantity,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{supplier,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.ms.medicalsystem.model.Medicine">
    insert into medicine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="medicineId != null">
        medicine_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="stockQuantity != null">
        stock_quantity,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="medicineId != null">
        #{medicineId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="stockQuantity != null">
        #{stockQuantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ms.medicalsystem.model.Medicine">
    update medicine
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="stockQuantity != null">
        stock_quantity = #{stockQuantity,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
    </set>
    where medicine_id = #{medicineId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ms.medicalsystem.model.Medicine">
    update medicine
    set name = #{name,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      stock_quantity = #{stockQuantity,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      supplier = #{supplier,jdbcType=VARCHAR}
    where medicine_id = #{medicineId,jdbcType=INTEGER}
  </update>
</mapper>